body{
    background-color: ghostwhite;
    font-family: "Comic Sans MS";
}
.container-fluid_new{
    width: 100%;
    margin: 0;
}

.card-header{
    background-color: #2165ff;
}
.card-body{
    background-color: ghostwhite;
}

.card-footer{
    background-color: #2165ff;
}

.card
