<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>

<div class="conteiner-fluid jusftiy-content-md-center" style="margin: 50px">
    <div class="row jusftiy-content-md-center">
        <div class="col-md-6 offset-md-3">
            <form id="noteform" th:object="${user}" th:action="@{/user/}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title"> Add new user.</h1>
                    </div>


                    <div class="card-body">

                        <div class="row" style="padding-top: 25px">
                            <div class="col-md-5 offset-md-1">

                                 <!--th:class="${#fields.hasErrors('title')}-->
                                <!--? 'col-md-5 offset-md-1 has-danger' : 'col-md-5 offset-md-1'">-->
                                <label for="titleInput">User name: </label>
                                <input id="titleInput" class="form-control" type="text" th:field="*{userName}">
                                       <!--th:errorclass="has-danger"-->
                            </div>

                            <div class="col-md-5 offset-md-1">
                                <label for="passwordInput">Password: </label>
                                <input id="passwordInput" class="form-control" type="text" th:field="*{password}">
                            </div>
                        </div>

                        <div class="row" style="padding-top: 25px">
                            <div class="col-md-5 offset-md-1">
                                <label for="firstName">First name: </label>
                                <input id="firstName" class="form-control" type="text" th:field="*{firstName}">
                            </div>

                            <div class="col-md-5 offset-md-1">
                                <label for="lastName">Last name: </label>
                                <input id="lastName" class="form-control" type="text" th:field="*{lastName}">
                            </div>
                        </div>

                        <div class="row" style="padding-top: 25px">
                            <div class="col-md-5 offset-md-1">
                                <label for="dateOfBirth">Birthdate: </label>
                                <input id="dateOfBirth" class="form-control" type="text" th:field="*{dateOfBirth}">
                            </div>

                            <!--<div class="col-md-5">-->
                                <!--<label>Category: </label>-->
                                <!--<select class="form-control" th:field="*{category}">-->
                                    <!--<option value="Event" th:selected="*{category == 'Event'}">Event</option>-->
                                    <!--<option value="Important" th:selected="*{category== 'Important'}">Important-->
                                    <!--</option>-->
                                    <!--<option value="Thought" th:selected="*{category == 'Thought'}">Thought</option>-->
                                    <!--<option value="Dummy" th:selected="*{category == 'Dummy'}">Dummy</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        </div>




                    </div>


                    <div class="card-footer">
                        <div class="btn-group d-flex" role="group">
                            <a th:href="@{/}" href="#" class="btn btn-info w-100" role="button">Home</a>
                            <a type="submit" class="btn btn-success w-100"
                               onclick="document.getElementById('userform').submit();" role="button">
                                Submit
                            </a>
                            <a th:if="${user.id}" href="#" class="btn btn-danger" role="button">Delete</a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>